*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.modalEl{
    background-color: #f8f1f1;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.openBtn{
    background-color: #e8aa42;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.modal .closeBtn{
    background-color: #e8aa42;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    box-shadow: rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.modal-container{
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    opacity: 0;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-container .modal {
    width: 60%;
    max-width: 100%;
    background-color: #fff;
    padding: 30px 50px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    text-align: center;
}
.modal-container .modal p{
    opacity: 0.7;
    font-size: 14px;
}
.modal-container.show{
    opacity: 1;
    pointer-events: auto;
}